#main{
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    background-color: #fff;
    /* border: 2px solid red; */
}
#featured{
    padding: 10vw 15vw;
}
.fheading>h1{
    line-height: 1;
    font-size: 4vw;
    font-weight: 400;
}
.fheading>h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px #000;
}
.fleftelm>h1{
    font-size: 2.5vw;
    line-height: 1;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1.5vw 0;
}
.fleftelm>h4{
    opacity: .5;
}
.fleftelm>h3{
    font-size: 1.3vw;
    font-weight: 400;
}
#fimages{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin-top: 5vw;
}
#fleft{
    overflow: hidden;
    width: 45%;
    height: inherit;
}
.fleftelm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
}
#fright{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: 45%;
    height: inherit;
}
#fright>.images{
    width: 90%;
    height: 90%;
    
}
#fright .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btndiv{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.btndiv>button{
    padding: 1.3vw 2.5vw;
    border-radius: 100px;
    border: 2px solid #e6e6e6;
    background-color: #fff;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: -.1px
}
